.container{
    width: 700px;
    background-color:#4796d6;
    background-image: linear-gradient(to bottom, rgba(112, 201, 173, 0.1),rgba(75, 218, 158, 0.623)49%, rgba(29, 189, 230, 0.4));
}

h1{
    color: cornsilk;
}

.container-form{
    border-radius: 5px;
    align-items:center;
}

.form-group[type=input]{
    margin-top: 10px;
    border-radius: 3px;
}

.form-group[type=input]{
    margin-top: 10px;
    border-radius: 3px;
}

.row{
    margin-bottom: 50px;
}

#IdListNav{
    border-radius: 5px;
    border-width: 1px;
}

button{
    border-color: cornsilk;
}